.second-info-block {
	padding-top: 5px;
}

.second-info-block__contacts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 13px;
}

@media (min-width: $tablet)  {

	.second-info-block__contacts {
		font-size: 14px;
	}

}