@import "./normalize/normalize.scss";
@import "./variables/variables.scss";
@import "./mixins/mixins.scss";
@import "./utils/fonts.scss";

body {
	min-width: 420px;
	overflow: scroll;
	@include standart-font-and-color;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@import "../../pages/main-pages/index.scss";
@import "../../blocks/profile-img/profile-img.scss";
@import "../../blocks/profile/profile.scss";
@import "../../blocks/info-blocks/info-blocks.scss";
@import "../../blocks/first-info-block/first-info-block.scss";
@import "../../blocks/second-info-block/second-info-block.scss";
@import "../../blocks/third-info-block/third-info-block.scss";