.third-info-block__wrapper {
	padding-top: 5px;
	width: 100%;
	display: none;
	position: absolute;
}

.third-info-block-show {
	display: block;
}

.third-info-block__additional-info {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

.third-info-block__value {
	text-align: right;
}

@media (min-width: $tablet)  {

	.third-info-block__additional-info {
		font-size: 14px;
	}
}