.third-info-block__wrapper {
	width: 100%;
	display: none;
	position: absolute;
	top: 257px;
}

.third-info-block-show {
	display: block;
}

.third-info-block__additional-info {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

.third-info-block__value {
	text-align: right;
}

.third-info-block__show-btn {
	overflow: hidden;
	position: absolute;
	left: 110px;
	top:  220px;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.third-info-block__checkbox {
	display: flex;
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}

.third-info-block__line {
	width: 30px;
	height: 5px;
	margin-bottom: 4px;
	background: $main-button-color;
	border-radius: 4px;
	transition: all .5s cubic-bezier(.08,.81,.87,.71);
}

.third-info-block__line-1 {
	transform-origin: 4px 0px;
}

.third-info-block__line-3 {
	transform-origin: bottom right;
}

.third-info-block__checkbox:checked ~ .third-info-block__line-1 {
	transform: rotate(45deg) translate(5px);
}

.third-info-block__checkbox:checked ~ .third-info-block__line-2 {
	transform: rotate(495deg) translate(2px);   
}

.third-info-block__checkbox:checked ~ .third-info-block__line-3 {
	transform: rotate(45deg);
	opacity: 0;
}

@media (min-width: $tablet)  {

	.third-info-block__wrapper {
		top: 265px;
	}

	.third-info-block__additional-info {
		font-size: 14px;
	}

	.third-info-block__show-btn {
		left: 162px;
		top:  225px;
	}
}